body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../IMGS/climbing-hero2.jpg) repeat-x center bottom fixed;
  /*background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  font-family: 'Nunito', sans-serif;
  line-height: 1.6em;
  letter-spacing: .04em;
  color: #393939;
}

p {
  font-size: 1.1em;
}

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .05em;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  padding-bottom: .5em;
  margin-bottom: 2em;
  border-bottom: .5px solid #ccc;
  color: #0E1826;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: .5em;
  border-top: 1px solid #ccc;
}

h4 {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  opacity: .5;
}

i {
  margin: .5em .5em;
  color: white;
}

header {
  height: 400px;
  margin-top: 0;
  width: 100%;
  position: fixed;
  /*z-index: -99;*/
}

main {
  background-color: #FEFEFE;
  top: 400px;
  position: relative;
  z-index: 1000;
}

a:hover, btn:hover, i:hover {
  color: #EBC83B;
}

.avatar {
  border-radius: 100%;
  height: 100px;
  z-index: 1;
}

.flexy {
  display: flex;
}

.header {
  height: 400px;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

/*@media screen and (max-width: 600px) {
  .header {
    min-height: 300px;
  }
}*/

.contactIcons {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /*z-index: 1000;*/
}

.h2stick {
  background-color: #FEFEFE;
  position: -webkit-sticky;
  position: sticky;
  padding-top: .1em;
  top: 0px;
  z-index: 2100;
}

.thumbnail {
  padding: none !important;
  transition: all 1s ease-in;
  opacity: 0.5;
}

.thumbnail:hover {
  opacity: 1;
}

.bio>div {
  margin-bottom: 2em;
}

.contact {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .noMobile {
    display: none;
  }
}

.email {
  padding: .5em 1em;
  font-size: 1.1em;
  font-family: 'Varela Round', sans-serif;
}

.footer {
  justify-content: space-around;
  font-size: .8em;
  margin: .5em;
  opacity: 0.5;
}
